GOOGLE_CLIENT_ID=your_google_client_id
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key
ADMOB_ACCOUNT_ID=your_admob_account_id
ADMOB_AD_CLIENT_ID=your_admob_ad_client_id
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
